
#myCanvas { 
 /* height: 300px;
  width: 300px;*/
 /* border: 2px solid white;*/
  /*border-radius: 10px;*/
  display: block; 
  cursor:all-scroll;
}

html, body{
	margin: 0px;
  width: 100%;
  height: 100%;
}

.menunav{
  width: 100%;
  height: 80px;
  background-color: #181818;
  position: fixed;
  z-index: 500;
  border
}

html{
	background-color: black;
}

.intro, .colors, .movement{
  width: 100%;
  height: auto;
  /*border-bottom: 1px solid white;*/
  background-color:black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.colors{
  margin-bottom: 120px;
}

.header{
  width: 100%;
  height: 800px;
  /*border-bottom: 1px solid white;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt{
  height: auto;
  width: 500px;
}

h1{
  font-family: roboto;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 0px;
  /*padding-left: 90px;*/
  color: white;
}


p{
  margin-top: 0px;
  font-family: roboto;
  font-size: 20px;
  font-weight: 100;
  color: white;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 120px;
}

.header p{
   font-size: 35px;
}

.contentinfo:hover .popinfo {
    display: block;
}

.popinfo {
	font-family: roboto;
	 color: white;
    display: none;
    background-color: rgba(13, 13, 13, 0.5);
    margin-left: 28px;
    padding: 20px;
    position: absolute;
    z-index: 100;
    border-radius: 5px;
    opacity: 0.9;
    width:120px;
    height:auto;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .popinfo {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(13, 13, 13, 0.5);  
  }
  .warning {
    display: none;
  }
}

.contentinfo{
  /*padding: 10px;*/
  z-index: 100;
  /*width:100%;*/
  transition: 0.4s;
}

/*.contentinfo:hover{
  border-bottom: 1.25px solid #313131;
  opacity: 3;
  padding: 10px;
  transition: 0.1s;
}*/

/*.contentinfo:hover img{
  opacity: 0.5;
  transition: 0.4s;
}*/

.shape_1 img{
	/*width: 520px;*/
  /*border: 1px solid white;*/
  object-fit: none;
  object-position: 110% 50%;
  border-radius: 10px;
	height: auto;
	/*cursor: pointer;*/
  z-index: 20;
  transition: 0.4s;
}

.shape_1{
  overflow:hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*object-fit: none;*/
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;

}

.nvg{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width:100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#arrow{
  height: 60px;
  width: 60px;
}






/*-----shape pages-----*/


.shapedesc p{
  /*margin-left: 120px;*/
  z-index: 20px;
}

.shapedesc{
  height: 100%;
  width: 100%;
  position: relative; 
  z-index: 100;
} 

.shapedesc_2{
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative; 
  z-index: 100;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapedesc_2 img{
  height: 530px;
  width: auto;
}

.bkigm{
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.bkigm img{
  width: 1200px;
  margin-left: 300px;
  transform:scale(1.2);
  -webkit-animation: 100.2s slideImg linear;
  animation: 100.2s slideImg linear;
}

    @-webkit-keyframes slideImg {
        from { transform: translateX(50%); transform: translateY(50%);}
        to { transform: translateX(-10%); }
    }
    @keyframes slideImg {
        from { transform: translateX(20%); transform: translateY(20%); }
        to { transform: translateX(-10%); }
    }

.shape_txt {
  height: auto;
  /*width: 600px;*/

}

.shape_txt h1{
  /*margin-left: 120px;*/
}

.shape_large {
  width: 100%;
  height: 100%;
  position: absolute;
}

.arrowdown{
  height: 30px;
  width: 30px;
  background-color: green;
  position: absolute;
  margin-top: 130px;
  top: 190px;
  left: 50%;
  margin-left: -50px;
}

/*-----shape pages-----*/










/*-----@media-----*/

@media only screen and (max-width: 1024px) {

    .shapedesc{
      width: 350px
    } 

    .shapedesc h1{
      font-size: 50px;
      padding-left: 16px;
    }

    .shapedesc p{
      padding: 20px;
    }
}
/*-----@media-----*/







/*-----@mediashape-----*/

@media only screen and (max-width: 1024px) {

    .txt{
      /*width: 350px*/
    } 

    h1{
      font-size: 50px;
      padding-left: 16px;
    }

    p{
      padding: 20px;
    }
}



/*-----@mediashape-----*/