:focus { outline: none; }

::-webkit-scrollbar {
    display: none;
}

/**::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none !important;
}

video::-webkit-media-controls {
  display:none !important;
}

::-webkit-media-controls {
  display:none !important;
}*/

#myCanvas { 
 /* height: 300px;
  width: 300px;*/
 /* border: 2px solid white;*/
  /*border-radius: 10px;*/
  display: block; 
  cursor:all-scroll;
  margin-bottom: 90px;
}

html, body{
	margin: 0px;
  width: 100%;
  height: 100%;
}

.videocont{
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.video-js .vjs-volume-panel{
  display: none !important;
}

.video-js .vjs-big-play-button{
  background-color: black !important;
  border-radius: 0px !important;
  border:0px !important;
  color: white !important;
}

.vjs-control-bar{
  /*display: none !important;*/
  background-color: white !important;
}

.video-js .vjs-control-bar{
  width: 100px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin: auto !important;
  margin-bottom: 20px !important;

}

.video-js{
  color: black !important;

}

video{
  border-radius: 40px;
}

.video-js .vjs-volume-level{
  background-color: #7385AC !important;
}

.video-js button{
  color: black !important;
}

.video-js .vjs-progress-control{
    display: none !important;
}

.video-js .vjs-picture-in-picture-control{
display: none !important;
}

.video-js .vjs-time-control{
  display: none !important;
}

html{
	background-color: black;
}

.intro, .colors, .movement,{
  width: 100%;
  height: auto;
  z-index: 2000;
  /*border-bottom: 1px solid white;*/
  background-color:black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.storytxt{
  width: 100%;
  height: 100%;
  background-color:black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imgstory{
  overflow: hidden;
  height: 100%;
}



.intro p{
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.intro{
margin-bottom: 200px;
}

.anatomy{
   width: 100%;
  height: auto;
  z-index: 2000;
  /*border-bottom: 1px solid white;*/
  background-color:black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.anatomygraph{
  background-color: #121212;
  border-radius: 20px;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imgbox{
  height: 150px;
  width: 307px;
  margin-top: 21px;
  border-radius: 10px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: black;
}

.param{
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.param img{
  height: 83px;
  width: 83px;
}

.sept, .sept2, .sept3, .sept4{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0px;
  overflow: hidden;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.space{
  height: 420px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacetop{
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sline{
  height: 10px;
  width: 300px;
  border-top: 1px solid white;
}

.sept img{
  top: 10px;

}

.sept2 img{
  margin-right: 129px
}

.colors{
  margin-bottom: 20px;
}

.header{
  width: 100%;
  height: 500px;
  margin-bottom: 120px;
  /*border-bottom: 1px solid white;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.txt{
  height: auto;
  width: 500px;
}

h1{
  font-family: laca-text, sans-serif;
  font-size: 85px;
  font-weight: 100;
  margin-bottom: 0px;
  /*padding-left: 90px;*/
  color: white;
  font-style: normal;
}


p{
  margin-top: 0px;
  font-family: source-sans-pro, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 120px;
}

.header p{
   font-size: 35px;
   padding-top: 0px;
}

.contentinfo:hover .popinfo {
    display: block;
}

.contentinfo{
  /*padding: 10px;*/
  z-index: 100;
  /*width:100%;*/
  transition: 0.4s;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*object-fit: none;*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 800px;
  width: 350px;
  /*border: 1px solid white;
  border-radius: 15px;*/
}


.contentinfo h1{
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 100;
  font-size: 30px;
  background-color: #121212;
  padding: 15px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 10px;
}

.shape_1{
  overflow:hidden;
/*  border-top: 1px solid white;
  border-bottom: 1px solid white;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;

}

.shape_1 img{
  z-index: 20;
  transition: 0.5s;
  height: 390px;
 /* height: 350px;*/
  width: auto;
}

.imgcont{
  width: 200px;
  height: 200px;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -khtml-border-radius: 20px !important;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  object-fit: contain;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  opacity: 0;
  transition: 0.8s;
  align-items: center;
/*  flex-direction: row;*/
  justify-content: center;
}

video{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  transition: 0.5s;
}

.video-js .vjs-tech {
  position: relative !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
}

.nvg{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width:100%;
  margin-bottom: 20px;
  margin-top: 10px;
  transition: 0.5s;
}

.nvg:hover{
  margin-left: 30px;
  transition: 0.5s;
}

.nvgbk{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width:100%;
  margin-bottom: 190px;
  margin-top: 60px;
  transition: 0.5s;
}

.nvgbk:hover{
  margin-right:30px;
  transition:0.5s;
}

#arrow{
  height: 60px;
  width: 60px;
}



/*-----shape pages-----*/


.shapedesc p{
  /*margin-left: 120px;*/
  z-index: 20px;
}

.shapedesc{
  height: 100%;
  width: 100%;
  position: relative; 
  z-index: 100;
} 

.shapedesc_2{
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative; 
  z-index: 100;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapedesc_2 img{
  height: 530px;
  width: auto;
}

.bkigm{
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.bkigm img{
  width: 1200px;
  margin-left: 300px;
  transform:scale(1.2);
  -webkit-animation: 100.2s slideImg linear;
  animation: 100.2s slideImg linear;
}

    @-webkit-keyframes slideImg {
        from { transform: translateX(50%); transform: translateY(50%);}
        to { transform: translateX(-10%); }
    }
    @keyframes slideImg {
        from { transform: translateX(20%); transform: translateY(20%); }
        to { transform: translateX(-10%); }
    }

.shape_txt {
  height: auto;
  /*width: 600px;*/

}

.shape_txt h1{
  /*margin-left: 120px;*/
}

.shape_large {
  width: 100%;
  height: 100%;
  position: absolute;
}

.arrowdown{
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 130px;
  top: 550px;
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

  #arrowdown{
  padding-right: 20px;
  background-color: black;
  border-radius: 9px;
  display: none;
  padding-left: 20px;
  /*transition: 0.5s;*/
}

  #arrowdown:hover{
  background-color: #121212;
  /*transition: 0.5s;*/
}

.arrowdown img{
  width: 50px;
  height: auto;
}

#loading-screen{
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
  pointer-events: none;
  transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

.loader{
  margin: 0 0 2em;
  height: 60px;
  width: 60px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

svg path,
svg rect{
  fill: #dfdddd;
}

/*------contextmenutest------*/

/*.circleinfo{
width: 60px;
height: 60px;
top: 300px;
left: 36%;
border-radius: 100px;
position: absolute;
opacity: 0.5;
cursor: pointer;
background-color: white;
z-index: 100;
}*/

.contextmenubox{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 1900;
  align-items: center;
  position: fixed;
  justify-content: center;
  pointer-events: none;
}

.contextmenu{
  height: auto;
  width: 200px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  background-color: rgba(13, 13, 13, 0.5);
  padding: 20px;
  pointer-events: none;
}

.contextmenu p {
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin: 0px;
  padding: 20px
}

/*------contextmenutest------*/


.infoleft{
  pointer-events: none;
  width: 50%;
  margin-left: 50%;
  height: 100%;
 /* background-color: green;*/
  /*float: left;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
}

.inforight{
  pointer-events: none;
  width: 50%;
  height: 100%;
/*  background-color: blue;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.linecont1{
  height: auto;
  width: 220px;
  margin-bottom: 10px;
  margin-right: 190px;
}

.linecont2{
  height: auto;
  width: 220px;
  margin-bottom: 90px;
  margin-left: 190px;
}

.path1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 10s;
}

.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 15s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


#myChart {
   height: 690px;
   width: 690px;
   padding-top: 20px;
}

.chartcont{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
 /* border-style: solid;
  border-width: 2px;
  border-color: white;*/
  border-radius: 20px;
  background-color: #121212;
  padding: 55px;
}

.infocard{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 120px;
}

.infocard p {
  text-align: center;
  margin:0px;
  padding-top: 0px !important;
  padding: 20px;
}

.freq{
  margin-top: 40px;
  width: 400px;
  height: auto;
  border-radius: 20px;
  padding: 55px;
  margin-bottom: 40px;
  background-color: #121212;
}

.heroimg{
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.heroimg img{
  width: 350px;
  height: auto;
}

/*-----shape pages-----*/



/*------nav--------*/


/*
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding-top: 200px;
  opacity: 0;
}


.closebtn{
  width: 20px;
  height: 20px;
  color: #818181;
  cursor: pointer;
  padding: 20px;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: source-sans-pro, sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menunav{
  width: auto;
  height: 60px;
  background-color: rgba(13, 13, 13, 0.5);
  position: fixed;
  z-index: 800;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  border-bottom-right-radius: 20px;
}

@supports (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em)) {
  .menunav, .contextmenu, #mySidenav{
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(13, 13, 13, 0.5);  
  }
  .warning {
    display: none;
  }
}

.hmenu{
  color: white;
  padding: 20px;
}
*/



.sidenav {
  background-color: rgba(13, 13, 13, 0.5); 
/*  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);*/
  display: block;
  font-family: source-sans-pro, sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 100%;
  left: 0;
  position: fixed;
  overflow: auto;
  transform: translate(-262px, 0);
  transition: transform .3s;
  top: 0;
  width: 256px;
  z-index: 1000;
}

.toggle{
  height: 20px;
  width: 20px;
  padding: 20px;
  /*background-color: green;*/
  position: fixed;
  border-bottom-right-radius: 20px;
  z-index: 1010;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

}

  .sidenav.show {
    transform: translate(0, 0); 
}

.sidenav-brand {
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 20px 24px 19px; }

.sidenav-header {
  background: transparent;
  border-bottom: 1px solid #424242;
  color: #757575;
  font-size: 19.2px;
  line-height: 32px;
  margin: 0;
  padding: 16px 24px 15px; 
}
  .sidenav-header small {
    display: block;
    font-size: 14.4px;
    line-height: 16px; 
  }

.sidenav-menu {
  list-style: none;
  margin: 0;
  padding: 0; 
}

  .sidenav-menu li {
    display: block;
    position: relative; 
  }

  .sidenav-menu a {
    background: transparent;
    color: #BDBDBD;
    display: block;
    line-height: 24px;
    padding: 16px 32px;
    text-decoration: none; 
  }

    .sidenav-menu a:hover {
      background: #616161;
      color: #BDBDBD; 
    }

    .sidenav-menu a.active {
      color: #FAFAFA; 
    }

      .sidenav-menu a.active .sidenav-link-icon,
      .sidenav-menu a.active .sidenav-dropdown-icon {
        color: #FAFAFA; 
      }

.sidenav-link-icon {
  color: #757575;
  display: block;
  height: 24px;
  left: 24px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 24px; 
}

.sidenav-link-title {
  display: block;
  padding: 0 16px 0 40px; 
}

.sidenav-dropdown {
  /*border-bottom: 1px solid #424242;*/
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; 
}

  .sidenav-dropdown a {
    background: #191919;
    color: #BDBDBD;
    padding-left: 72px; 
  }

    .sidenav-dropdown a:hover {
      background: #616161;
      color: #BDBDBD; 
  }

  .sidenav-dropdown li:first-child a {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }

.sidenav-dropdown-icon {
  color: #757575;
  display: none;
  height: 16px;
  right: 16px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 16px; 
}

  .sidenav-dropdown-icon.show {
    display: block; 
  }

/*.sidenav-overlay {
  background: rgba(255, 255, 255, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; 
}*/

.sidenav-no-scroll {
  overflow: hidden !important; 
}


@supports (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em)) {
  .menunav, .contextmenu, .sidenav, .toggle{
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(13, 13, 13, 0.5);  
  }
  .warning {
    display: none;
  }
}



/*------nav--------*/





/*-----@media-----*/

@media only screen and (max-width: 1024px) {

    .shapedesc{
      width: 350px
    } 

    .chartcont{
    width: 300px;
    padding: 10px;
    }

  .freq{
    width: 300px;
    padding: 10px;
    }

    #myChart {
    /*width:700px;*/
    } 

    .shapedesc h1{
      font-size: 50px;
      padding-left: 16px;
    }

    .shapedesc p{
      padding: 20px;
    }

}

/*-----@media-----*/







/*-----@mediashape-----*/

@media only screen and (max-width: 1024px) {

    .txt{
      width: 350px
    } 

    .contextmenu p {
        color: white;
        font-size: 20px;
        font-weight: 200;
        margin: 0px;
}

    h1{
      font-size: 50px;
      padding-left: 16px;
    }

    p{
      padding: 20px;
      padding-top: 5px;
    }

    .arrowdown{
      top: 440px;
    }
}



/*-----@mediashape-----*/